@model IEnumerable<M0502.Models.sm_Programa>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .DataGrid {
            font-family: 'Segoe UI';
            width: 100%;
            border-collapse: collapse;
        }

        .DataGrid, .DataGrid th {
            font-size: 11pt;
            border: 1px solid yellowgreen;
            padding: 3px 7px 2px 7px;
        }

        .DataGrid th {
            font-size: 12pt;
            text-align: left;
            padding-top:5px;
            padding-bottom:4px;
            background-color:yellowgreen;
            color:white;
        }
        .DataGrid tr.Alt td {
            color:black;
            background-color:lightgoldenrodyellow;
        }
    </style>
</head>
<body>
    @Html.CurrenTime()
    <br />
    @Html.DataGridFor(Model)
</body>
</html>
